*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  padding: 133px 30px;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: 534px;

}
.content:not(:last-child) {
  column-gap: 30px;
}

.result {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  margin-top: 77px;
}

.content__details {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  justify-content: start;
  align-items: start;
}

.content__list-item {
  padding: 2px;

}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 12px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover ;
  object-position: 0 0;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 54px;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.title {
  margin-bottom: 16px;
  color: #fff;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  &:focus {
    border: none;
    outline: none;
  }
  &:focus-visible {
    outline: 1px solid #fff;
  }

}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  width: 399px;
  height: 298px;
  overflow: auto;
  scrollbar-width: none;
}

.content__list:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 26px;
  padding: 2px;
  &:active {
    background-color: #545050;
  }
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  width: 200px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
}

.button {
  margin-top: 20px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  background-color: #1b1919;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &:active {
    background-color: #545050;
  }
  &:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 1px;
  }
}

.more-button {
  display: block;
  width: 395px;
  height: 34px;
  margin: 0 auto;
}

li:last-child {
  padding: 2px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

fieldset {
  border: none;
}

.search-form__label:not(:last-child) {
  margin-right: 15px;
}

.search-form__label-text {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;


}
.search-form__textfield {
  width: 225px;
  height: 27px;
  border-top: 1px solid #fff;
  border-right: 1px solid #1b1919;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #1b1919;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  background-color: #1b1919;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
}

.search-form__checkbox[type='checkbox']:checked + span::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 1px;
  border: 1px solid #fff;
  background-color: #fff;
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__label {
  display: flex;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
}

.search-form__label:hover:has(.search-form__label-text) {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:focus:has(.search-form__label-text) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:focus > .search-form__textfield  {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:hover:has(.search-form__textfield)  {
  text-decoration: none;
  cursor: text;
}

.search-form__label:active > .search-form__textfield {
border-right: 1px solid #fff;
border-left: 1px solid #fff;
}

.search-form__label:focus,
.search-form__textfield:focus,
.search-form__label-text:focus {
  outline: none;
}

